@font-face {
  font-family: "Cove";
  src: url("/fonts/CaskaydiaCove-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family:
    Cove, Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 0.80em;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #282727;
  color: #C5C9C5;
}

pre > code[class*="language-"] {
  font-size: 1em;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #393836;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #393836;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #9E9B93;
}

.token.punctuation {
  color: #A6A69C;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number {
  color: #C4746E;
}

.token.property,
.token.function {
  color: #9fb5c9;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #ff0000;
}

code.language-javascript,
.token.attr-name {
  color: #ff0000;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #658594;
}

.token.placeholder,
.token.variable {
  color: #ff0000;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #ff0000;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #ff0000;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #ff0000;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
  border-right-color: #ff0000;
}

.line-numbers .line-numbers-rows > span:before {
  color: #ff0000;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight.line-highlight {
  background: rgba(255, 0, 0, 0.2);
  background: -webkit-linear-gradient(
    left,
    rgba(255, 0, 0, 0.2) 70%,
    rgba(255, 0, 0, 0)
  );
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.2) 70%,
    rgba(255, 0, 0, 0)
  );
}
